name: Run Tests

on:
  push:
    #branches:
    #  - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: ["3.12", "3.11", "3.10", "3.9", "3.8"]
        os: [ubuntu-latest, windows-latest]

    steps:
      # Checkout the latest code from the repo
      - name: Checkout Repo
        uses: actions/checkout@v3
      # Setup which version of Python to use
      - name: Set Up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Display the Python version being used
      - name: Display Python Version
        run: python -c "import sys; print(sys.version)"
      # Install the package
      - name: Install Package
        run: pip install .
      # Install Pytest and Coverage
      - name: Install Test Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest coverage
      # Run the tests
      - name: Run Tests
        run: coverage run -m pytest -k "not e2e"

      # Lint with Ruff
      - name: Lint with Ruff
        uses: chartboost/ruff-action@v1

      # Generate Documentation
      - name: Build documentation and examples
        run: |
          pip install -r docs/requirements.txt
          sphinx-build -b html docs docs/_build
          sphinx-build -b doctest docs docs/_build      